/*.container{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100%;*/
/*  margin-top: 3rem;*/
/*}*/

/*.details{*/
/*  width: 28rem;*/
/*}*/

/*form{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}*/

/*.error-list{*/
/*  color: red;*/
/*}*/

/*.register{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/



.container {
  justify-content: center;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: 5rem auto;
}

.details {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f0f0f0;
}

.input-container {
  margin-bottom: 1.5rem; /* Adjust spacing between input lines */
}

.input-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem; /* Adjust corner rounding */
  border: 1px solid #ccc;
}

.button {
  text-align: center;
}

.button button {
  color: white;
  background: #e72929;
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  transition: opacity 0.3s;
  width: 60%;
}

.button button:hover {
  opacity: 0.9;
  cursor: pointer;
}
